openapi: 3.0.0
info:
  title: Eazepay API
  description: API documentation for the Eazepay payment platform
  version: 1.0.0
  contact:
    name: Eazepay Support
    url: https://eazepay.com/support
    email: support@eazepay.com

servers:
  - url: https://api.eazepay.com/v1
    description: Production server
  - url: https://staging-api.eazepay.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

paths:
  /transactions:
    get:
      summary: List transactions
      description: Retrieve a list of transactions with optional filtering
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, completed, failed]
          description: Filter by transaction status
        - in: query
          name: from
          schema:
            type: string
            format: date
          description: Start date for filtering
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
    post:
      summary: Create transaction
      description: Create a new payment transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransactionRequest'
      responses:
        '201':
          description: Transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'

components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          format: float
        currency:
          type: string
        status:
          type: string
          enum: [pending, completed, failed]
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - amount
        - currency
        - status
        - createdAt

    CreateTransactionRequest:
      type: object
      properties:
        amount:
          type: number
          format: float
        currency:
          type: string
        description:
          type: string
      required:
        - amount
        - currency

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT